# Application
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auditly_dev
DB_NAME_TEST=auditly_test

# Frontend
REACT_APP_API_URL=http://localhost:3000/api
